
table#dataTbl {
    font-family: arial, sans-serif;
    font-size: small;
    border-collapse: collapse;
    width: 100%;
}

#dataTbl td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#dataTbl th {
  border: 1px solid #dddddd;
  text-align: left;
  background-color: #d9d9d9;
  padding: 8px;
}

.tryiticon {
  background-color: #4CAF50;
  color: #fff!important;
  text-decoration: none;
  padding: 0 8px 4px 8px;
  border-radius: 50px;
  font-size: 15px;
  position: absolute;
  margin-left: 6px;
  transition: padding 0.2s;
  
}
.tryiticon span{
  color:#fff!important;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  width:0px;
  overflow:hidden;
  transition: width 0.2;
}

.tryiticon:hover {
  padding:0 12px 4px 116px;
}

.tryiticon:hover span{
  width:116px;
  padding-top:2px;
  left:10px;
}

.htmltut_table, .htmltut_table th, .htmltut_table td
{
border:1px solid black;
}
.htmltut_table1, .htmltut_table1 th, .htmltut_table1 td
{
border:1px solid black;
}
.htmltut_table1 th, .htmltut_table1 td
{
padding:5px;
}
